In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('/root/boiboi.csv')
data

,Unnamed: 0,link,title
0,0,https://abcnews.go.com/Business/fed-chair-jero...,Fed chair Powell says no rate cuts soon
1,1,https://abcnews.go.com/Business/wireStory/stoc...,Stock market today: Wall Street slams into rev...
2,2,https://abcnews.go.com/Business/cosmic-yoga-po...,How the eclipse will deliver a 'tourism boom'
3,3,https://abcnews.go.com/Business/wireStory/kiss...,"Kiss sells catalog, brand name and IP. Gene Si..."
4,4,https://abcnews.go.com/Business/gas-prices-cli...,Why gas prices have climbed nearly 14% this year
...,...,...,...
104,45,https://abcnews.go.com/Technology/wireStory/ta...,"In Taiwan, a group is battling fake news one c..."
105,46,https://abcnews.go.com/Technology/wireStory/at...,AT&T says a data breach leaked millions of cus...
106,47,https://abcnews.go.com/Technology/wireStory/ki...,"Kia recalls over 427,000 Telluride SUVs becaus..."
107,48,https://abcnews.go.com/Technology/wireStory/ja...,Japan confirms experts met in China to ease co...
108,49,https://abcnews.go.com/Technology/wireStory/gm...,Gmail revolutionized email 20 years ago. Peopl...

In [6]:
from datetime import datetime, timezone
datetime.now(tz=timezone.utc).date()

datetime.date(2024, 4, 4)

In [79]:
from datetime import date
import ast
import pandas as pd
import re
data = pd.read_csv('/root/article_run.csv')

In [123]:
x_data = pd.read_csv('/root/test2')
user1 = x_data['user'][0]
new_string = re.sub(r'datetime\.datetime\(\d+,\s\d+,\s\d+,\s\d+,\s\d+,\s\d+,\s.*\)', "'replaced'", user1)
user2 = ast.literal_eval(new_string)
username = user2['username']

In [125]:
x_data

,Unnamed: 0,id,id_str,url,date,user,lang,rawContent,replyCount,retweetCount,...,place,coordinates,inReplyToTweetId,inReplyToTweetIdStr,inReplyToUser,source,sourceUrl,sourceLabel,media,_type
0,0,1694886846050771321,1694886846050771321,https://twitter.com/realDonaldTrump/status/169...,2023-08-25 01:38:08+00:00,"{'id': 25073877, 'id_str': '25073877', 'url': ...",zxx,https://t.co/MlIKklPSJT https://t.co/Mcbf2xozsY,304725,378392,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,{'photos': [{'url': 'https://pbs.twimg.com/med...,snscrape.modules.twitter.Tweet
1,1,1347569870578266115,1347569870578266115,https://twitter.com/realDonaldTrump/status/134...,2021-01-08 15:44:28+00:00,"{'id': 25073877, 'id_str': '25073877', 'url': ...",en,"To all of those who have asked, I will not be ...",334016,84776,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,"{'photos': [], 'videos': [], 'animated': []}",snscrape.modules.twitter.Tweet
2,2,1776264343350632727,1776264343350632727,https://twitter.com/magicmind/status/177626434...,2024-04-05 15:03:15+00:00,"{'id': 1219732438252867584, 'id_str': '1219732...",en,The science is now clear that low energy and l...,0,1,...,NaN,NaN,NaN,NaN,NaN,"<a href=""https://help.twitter.com/en/using-twi...",https://help.twitter.com/en/using-twitter/how-...,advertiser-interface,"{'photos': [], 'videos': [], 'animated': []}",snscrape.modules.twitter.Tweet
3,3,1347555316863553542,1347555316863553542,https://twitter.com/realDonaldTrump/status/134...,2021-01-08 14:46:38+00:00,"{'id': 25073877, 'id_str': '25073877', 'url': ...",en,"The 75,000,000 great American Patriots who vot...",142113,99613,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,"{'photos': [], 'videos': [], 'animated': []}",snscrape.modules.twitter.Tweet
4,4,1347334804052844550,1347334804052844550,https://twitter.com/realDonaldTrump/status/134...,2021-01-08 00:10:24+00:00,"{'id': 25073877, 'id_str': '25073877', 'url': ...",zxx,https://t.co/csX07ZVWGe,205694,136378,...,NaN,NaN,NaN,NaN,NaN,"<a href=""https://studio.twitter.com"" rel=""nofo...",https://studio.twitter.com,Twitter Media Studio,"{'photos': [], 'videos': [{'thumbnailUrl': 'ht...",snscrape.modules.twitter.Tweet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048,13,1776276789003764097,1776276789003764097,https://twitter.com/MindfulCritique/status/177...,2024-04-05 15:52:42+00:00,"{'id': 1539196640867012610, 'id_str': '1539196...",en,EJECTING THE MILITARY FORM PAKISTANI POLITICS....,2,26,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,"{'photos': [], 'videos': [{'thumbnailUrl': 'ht...",snscrape.modules.twitter.Tweet
1049,14,1776322447421169942,1776322447421169942,https://twitter.com/clairebubblepop/status/177...,2024-04-05 18:54:08+00:00,"{'id': 1386964028237492226, 'id_str': '1386964...",en,Why did Rayner get so much shit for selling a ...,10,115,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,"{'photos': [], 'videos': [], 'animated': []}",snscrape.modules.twitter.Tweet
1050,15,1776336448523796833,1776336448523796833,https://twitter.com/KThor21/status/17763364485...,2024-04-05 19:49:46+00:00,"{'id': 1637833919612452865, 'id_str': '1637833...",en,One of the most fun things about being a racis...,0,4,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",http://twitter.com/download/android,Twitter for Android,"{'photos': [], 'videos': [], 'animated': []}",snscrape.modules.twitter.Tweet
1051,16,1776250244952686809,1776250244952686809,https://twitter.com/SamuelHolden_/status/17762...,2024-04-05 14:07:14+00:00,"{'id': 1586054989277196288, 'id_str': '1586054...",en,Me in 2012: My politics? I'm not Republican or...,1,3,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",http://twitter.com/download/android,Twitter for Android,"{'photos': [], 'videos': [{'thumbnailUrl': 'ht...",snscrape.modules.twitter.Tweet
1052,17,1776288280327406020,1776288280327406020,https://twitter.com/mshahi0024/status/17762882...,2024-04-05 16:38:22+00:00,"{'id': 1516814379760885762, 'id_str': '1516814...",en,"Dear @KanganaTeam,\n\n-Adv Patel ji studied fr...",1,69,...,NaN,NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",http://twitter.com/download/android,Twitter for Android,{'photos': [{'url': 'https://pbs.twimg.com/med...,snscrape.modules.twitter.Tweet

In [121]:
from datetime import datetime
done = []
for ele in x_data.iterrows():
    try:
        inter_done = []
        user1 = ele[1]['user']
        new_string = re.sub(r'datetime\.datetime\(\d+,\s\d+,\s\d+,\s\d+,\s\d+,\s\d+,\s.*\)', "'replaced'", user1)
        user2 = ast.literal_eval(new_string)
        username = user2['username']
        inter_done.append(ele[1]['id_str'])
        inter_done.append(username)
        inter_done.append(ele[1]['rawContent'])
        if ele[1]['viewCount'] > 0:
            inter_done.append(ele[1]['viewCount'])
        else:
            inter_done.append(ele[1]['likeCount'])
        inter_done.append(datetime.now(tz=timezone.utc).date())
        done.append(inter_done)
    except:
        print('I made a mistake')
        
        continue

final = pd.DataFrame(done, columns=['tweet_id', 'username', 'raw_content', 'view_count', 'created_at'])
final
'''user2 = ast.literal_eval(new_string)
username = user2['username']
inter_done.append(ele[1]['id_str'])
inter_done.append(username)
inter_done.append(ele[1]['rawContent'])
inter_done.append(ele[1]['viewCount'])
inter_done.append(datetime.now(tz=timezone.utc).date())
done.append(inter_done)
final = pd.DataFrame(done, columns=['tweet_id', 'username', 'raw_content', 'view_count'])
final'''

I made a mistake
I made a mistake
I made a mistake
I made a mistake
I made a mistake
I made a mistake
I made a mistake
I made a mistake
I made a mistake
I made a mistake

"user2 = ast.literal_eval(new_string)\nusername = user2['username']\ninter_done.append(ele[1]['id_str'])\ninter_done.append(username)\ninter_done.append(ele[1]['rawContent'])\ninter_done.append(ele[1]['viewCount'])\ninter_done.append(datetime.now(tz=timezone.utc).date())\ndone.append(inter_done)\nfinal = pd.DataFrame(done, columns=['tweet_id', 'username', 'raw_content', 'view_count'])\nfinal"

In [124]:
result = []
for ele in x_data.iterrows():
    try:
        inter_result = []
        user1 = ele[1]['user']
        new_string = re.sub(r'datetime\.datetime\(\d+,\s\d+,\s\d+,\s\d+,\s\d+,\s\d+,\s.*\)', "'replaced'", user1)
        user2 = ast.literal_eval(new_string)
        username = user2['username']
        inter_result.append(ele[1]['id_str'])
        inter_result.append(username)
        inter_result.append(ele[1]['rawContent'])
        if ele[1]['viewCount'] > 0:
            inter_result.append(ele[1]['viewCount'])
        else:
            inter_result.append(ele[1]['likeCount'])
        inter_result.append(datetime.now(tz=timezone.utc).date())
        result.append(inter_result)
    except:
        print('mistake I made')
        continue

final = pd.DataFrame(result, columns=['tweet_id', 'username', 'raw_content', 'view_count', 'created_at'])
final

mistake I made
mistake I made
mistake I made
mistake I made
mistake I made
mistake I made
mistake I made
mistake I made

,tweet_id,username,raw_content,view_count,created_at
0,1694886846050771321,realDonaldTrump,https://t.co/MlIKklPSJT https://t.co/Mcbf2xozsY,288253538.0,2024-04-05
1,1347569870578266115,realDonaldTrump,"To all of those who have asked, I will not be ...",696015.0,2024-04-05
2,1776264343350632727,magicmind,The science is now clear that low energy and l...,32580.0,2024-04-05
3,1347555316863553542,realDonaldTrump,"The 75,000,000 great American Patriots who vot...",597013.0,2024-04-05
4,1347334804052844550,realDonaldTrump,https://t.co/csX07ZVWGe,682364.0,2024-04-05
...,...,...,...,...,...
1040,1776276789003764097,MindfulCritique,EJECTING THE MILITARY FORM PAKISTANI POLITICS....,1187.0,2024-04-05
1041,1776322447421169942,clairebubblepop,Why did Rayner get so much shit for selling a ...,3551.0,2024-04-05
1042,1776336448523796833,KThor21,One of the most fun things about being a racis...,139.0,2024-04-05
1043,1776250244952686809,SamuelHolden_,Me in 2012: My politics? I'm not Republican or...,681.0,2024-04-05
1044,1776288280327406020,mshahi0024,"Dear @KanganaTeam,\n\n-Adv Patel ji studied fr...",1407.0,2024-04-05

In [116]:
final = pd.DataFrame(result, columns=['tweet_id', 'username', 'raw_content', 'view_count', 'created_at'])
final.to_sql(name='inter_x_scrape', con=engine, if_exists='append', index=False)

,tweet_id,username,raw_content,view_count,created_at
0,1694886846050771321,realDonaldTrump,https://t.co/MlIKklPSJT https://t.co/Mcbf2xozsY,288247810.0,2024-04-05
1,1347569870578266115,realDonaldTrump,"To all of those who have asked, I will not be ...",696039.0,2024-04-05
2,1762338280937324689,rarecarat,Engagement ring shopping? 💍\n\nWhat size can y...,34892621.0,2024-04-05
3,1347555316863553542,realDonaldTrump,"The 75,000,000 great American Patriots who vot...",597006.0,2024-04-05
4,1347334804052844550,realDonaldTrump,https://t.co/csX07ZVWGe,682388.0,2024-04-05
...,...,...,...,...,...
1043,1776281368382840872,PTI_Politics,Protest in KP For Release of Founder Chairman ...,2956.0,2024-04-05
1044,1776266205772591377,bong_politics,Only 25 % people are happy with Mamta Banerje...,2064.0,2024-04-05
1045,1776246633421836779,g_gosden,“He’s 𝐢𝐧𝐜𝐫𝐞𝐝𝐢𝐛𝐥𝐲 bad at politics… On a par wit...,11496.0,2024-04-05
1046,1776297842094583963,MinhasNajma,“Ghar me ghus ke marenge” BJP defense minister...,599.0,2024-04-05
1047,1776297831277764805,iamsonarajput,Rahul Gandhi to Sonia Gandhi after she forced ...,173.0,2024-04-05

In [117]:
x_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1058 non-null   int64
 1   id_str               1058 non-null   int64
 2   url                  1058 non-null   object
 3   date                 1058 non-null   object
 4   user                 1058 non-null   object
 5   lang                 1058 non-null   object
 6   rawContent           1058 non-null   object
 7   replyCount           1058 non-null   int64
 8   retweetCount         1058 non-null   int64
 9   likeCount            1058 non-null   int64
 10  quoteCount           1058 non-null   int64
 11  conversationId       1058 non-null   int64
 12  conversationIdStr    1058 non-null   int64
 13  hashtags             1058 non-null   object
 14  cashtags             1058 non-null   object
 15  mentionedUsers       1058 non-null   object
 16  links                1058 non-null   object
 17  viewCount            944 non-null    float64
 18  retweetedTweet       73 non-null     object
 19  quotedTweet          81 non-null     object
 20  place                6 non-null      object
 21  coordinates          0 non-null      float64
 22  inReplyToTweetId     118 non-null    float64
 23  inReplyToTweetIdStr  118 non-null    float64
 24  inReplyToUser        118 non-null    object
 25  source               1058 non-null   object
 26  sourceUrl            1058 non-null   object
 27  sourceLabel          1058 non-null   object
 28  media                1058 non-null   object
 29  _type                1058 non-null   object
dtypes: float64(4), int64(8), object(18)
memory usage: 248.1+ KB

In [12]:
import pandas as pd
test_case = ['negative', 'negative', 'negative', 'positive', 'positive', 'neutral', 'negative', 'neutral', 'neutral', 'positive', 'neutral', 'negative', 'negative', 'neutral', 'positive']
irony_case= ['irony', 'non-irony']
pd_test = pd.DataFrame(irony_case)
counts = pd_test.value_counts().index[0][0]
counts

'irony'

In [9]:
if counts == ('negative',):
    print('hello')

hello